@charset "UTF-8";
*{
	padding:0;
	margin:0;
}
.kyzr_headerContainer{
	width:100%;
	height:40px;
	background-color: #333333;
}
.kyzr_titleLeft{
	position:relative;
    left: 1%;
    top:9px;
    float:left;
    color: white;
}
.kyzr_titleRight{
	position:relative;
    top:9px;
    float:right;
    color: white;
    right:1%;
}
.kyzr_titleLeftSearch{
	position:relative;
    left: 3%;
    top:4px;
    float:left;
    color: white;
}
.form-control{
    height: 28px;
    top: 3px;
    position: relative;
}
.kyzr_headerMid{
	width:100%;
	height:70px;
}
.kyzr_header{
	position:relative;
	height:200px;
}
.kyzr_title{
	text-align:center;
	top: 75%;
	left:19%;
   	position: relative;
   	color:white;
   	font-size: 30px;
}
.kyzr_navLi{
	float:left;
	list-style-type:none;
	margin-left: 100px;
}
a:hover{
	text-decoration:none;
}
.kyzr_topHr{
	width: 68%;
    border: 3px solid white;
    left: 17%;
    position: relative;
}
.kyzr_navWord:hover{
	color:white;
}